.section-center {
  max-width: 1700px;
  width: 85vw;
  margin: 0 auto;
}

.dashboardInfoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem;
  border-radius: 0.75rem;
}

.dashInfoTitle {
  color: #1f5b97;
}

@media screen and (min-width: 570px) {
  .dashboardInfos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .dashboardInfos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}

/* ------------------------------------- */

.aboutDashboard {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
}

.aboutDashboardInfos {
  margin-bottom: 3.5rem;
}

.aboutsScondaryTitle {
  font-size: 1.2rem;
  color: #969696;
}

.aboutMainTitle {
  font-size: 1.5rem;
  color: #464646;
}

.aboutContent {
  color: #b4b4b4;
  margin-top: 0.5rem;
}

.aboutImgContainer {
  padding: 0.5rem;
}

.aboutImg {
  border-radius: 0.75rem;
}

.workWithDash {
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.75rem;
  margin-top: 2rem;
}

.workWithDashContainer {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  padding: 1rem;
  border-radius: 0.75rem;
  background: linear-gradient(
      90deg,
      rgba(44, 56, 95, 0.5) 0%,
      rgba(22, 34, 60, 0.5) 100%
    ),
    url(./../../../public/images/artist.jpg) 50% 40% / cover no-repeat;
}

@media screen and (min-width: 992px) {
  .aboutDashContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .aboutDashboard,
  .workWithDash {
    flex: 1;
    margin: 0;
  }

  .aboutDashboard {
    display: flex;
    justify-content: space-between;
  }

  .aboutImgContainer {
    width: 20rem;
  }
}

/* ------------------------------------- */

@media screen and (min-width: 1170px) {
  .chartAndUser {
    display: flex;
    column-gap: 1rem;
  }
}
